html {
  font-family: "Lucida Console", "Courier New", monospace;
  background-color: #23272a;
}

table.deals_table {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: white;
}

th {
  padding: 30px;
}

td {
 height: 30px;
}
